.codeex {
    width: 600px;
    margin: auto;
    border: 3px solid #000000;
    padding: 10px;
    background-color: whitesmoke;
}

.newcodeex {
    width: 800px;
    margin: auto;
    border: 10px double #660000;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffcccc;
    color: #660000;
}

code {
    color: darkgreen;
    
}

h1, h4 {
    text-align: center;
}

html, body {
    overflow-x: hidden;
    background-color: white;
}

img {
    display: block;
    margin: auto;
    padding-top: 10px;
}

button {
    background-color: slategray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;  
}

#buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 5px;
}

button:hover {
    background-color: lightgray;
    color: slategray;
}

/****************************************************
For topic 8
CSS3 Transitions/Animations Triggered by Javascript
****************************************************/
.box {
    margin: 30px;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rebeccapurple;
    text-align: center;
    -webkit-transition: background-color 3s, margin 3s, color 3s;
    -moz-transition: background-color 3s, margin 3s, color 3s;
    -o-transition: background-color 3s, margin 3s, color 3s; 
    transition: background-color 3s, margin 3s, color 3s;
}

.box.transition {

    background-color: aquamarine;
    margin-left: 80%;
    color: black;
    text-align: center;
}

.box2 {
    margin: 30px;
    height: 25px;
    width: 50px;
    background-color: darkred;
    transition: width 3s linear 1s, margin 4s ease-in, height 2s ease-out 3s, background 5s;   
}

.box2.transition {
    width: 200px;
    margin-left: 60%;
    height: 50px;
    background-color: green;
}

#box3 {
    margin: 30px;
    height: 50px;
    width: 100px;
    position: relative;
    background-color: rebeccapurple;
}

@keyframes animation1 {
    0%   {background-color:rebeccapurple; left:0px; top:0px;}
    25%  {background-color:yellow; left:450px; top:0px;}
    50%  {background-color:blue; left:450px; top:200px; -webkit-transform: rotate(360deg);}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

#cupgame {
    margin: 0 auto;
    width 80%;
}

.cup {
    position: relative;
    display: inline-block;
    left: 0;
    right: 0;
    margin-right: 50px;
}

@keyframes cup1 {
    0%   {-webkit-transform: translate(48px, 48px) rotate(0deg) translate(-48px, -48px) rotate(0deg);}
    25%  {-webkit-transform:translate(48px, 48px) rotate(45deg) translate(-48px, -48px) rotate(-45deg);}
    50%  {-webkit-transform:translate(48px, 48px) rotate(90deg) translate(-48px, -48px) rotate(-90deg);}
    75%  {-webkit-transform:translate(48px, 48px) rotate(45deg) translate(-48px, -48px) rotate(-45deg);}
    100%  {-webkit-transform:translate(48px, 48px) rotate(0deg) translate(-48px, -48px) rotate(0deg);}
}

@keyframes cup2 {
    0%   {-webkit-transform: translate(-48px, -48px) rotate(0deg) translate(48px, 48px) rotate(0deg);}
    13%  {-webkit-transform:translate(-48px, -48px) rotate(45deg) translate(48px, 48px) rotate(-45deg);}
    25%  {-webkit-transform:translate(-48px, -48px) rotate(90deg) translate(48px, 48px) rotate(-90deg);}
    38%  {-webkit-transform:translate(-48px, -48px) rotate(45deg) translate(48px, 48px) rotate(-45deg);}
    50%  {-webkit-transform:translate(-48px, -48px) rotate(0deg) translate(48px, 48px) rotate(0deg);}
    63%  {-webkit-transform:translate(48px, 48px) rotate(45deg) translate(-48px, -48px) rotate(-45deg);}
    75%  {-webkit-transform:translate(48px, 48px) rotate(90deg) translate(-48px, -48px) rotate(-90deg);}
    88%  {-webkit-transform:translate(48px, 48px) rotate(45deg) translate(-48px, -48px) rotate(-45deg);}
    100%  {-webkit-transform:translate(48px, 48px) rotate(0deg) translate(-48px, -48px) rotate(0deg);}
}

@keyframes cup3 {
    0%   {-webkit-transform: translate(-48px, -48px) rotate(0deg) translate(48px, 48px) rotate(0deg);}
    25%  {-webkit-transform:translate(-48px, -48px) rotate(45deg) translate(48px, 48px) rotate(-45deg);}
    50%  {-webkit-transform:translate(-48px, -48px) rotate(90deg) translate(48px, 48px) rotate(-90deg);}
    75%  {-webkit-transform:translate(-48px, -48px) rotate(45deg) translate(48px, 48px) rotate(-45deg);}
    100%  {-webkit-transform:translate(-48px, -48px) rotate(0deg) translate(48px, 48px) rotate(0deg);}
}

/****************************************************
End for Topic 8
****************************************************/

.touchbox {
    background-color: rebeccapurple;
    text-align: center;
    -webkit-transition: background-color 3s, width 3s;
    -moz-transition: background-color 3s, width 3s;
    -o-transition: background-color 3s, width 3s; 
    transition: background-color 3s, width 3s;
}

.touchbox.transition {
    background-color: aquamarine;
    width: 80%;
}

.codeexsize {
    height: 400px;
}

.mytable {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.mytable td, .mytable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.mytable tr:nth-child(even){background-color: #f2f2f2;}

.mytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: slategray;
    color: white;
}

.captioninput {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.displaycap {
    text-align: center;
    font-size: 24px;
    
}

.message {
    text-align: center;
    color: red;
    font-size: 1.5em;
}

.navbar {
    background-color: slategray;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: #ddd;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}