@import url('https://fonts.googleapis.com/css?family=Lato');

.codeex {
    width: 600px;
    margin: auto;
    border: 3px solid #000000;
    padding: 10px;
    background-color: whitesmoke;
}

.newcodeex {
    width: 800px;
    margin: auto;
    border: 10px double #660000;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffcccc;
    color: #660000;
}

.codeextended {
    height: 475px;
}

code {
    color: darkgreen;
}

h1, h4 {
    text-align: center;
}

html, body {
    overflow-x: hidden;
    background-color: white;
}

img {
    display: block;
    margin: auto;
    padding-top: 10px;
}

button {
    background-color: slategray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;  
}

#buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 5px;
}

button:hover {
    background-color: lightgray;
    color: slategray;
}

/****************************************************
For topic 8
CSS3 Transitions/Animations Triggered by Javascript
****************************************************/
.box {
    margin: 30px;
    height: 50px;
    width: 100px;
    color: white;
    background-color: rebeccapurple;
    text-align: center;
    -webkit-transition: background-color 3s, margin 3s, color 3s;
    -moz-transition: background-color 3s, margin 3s, color 3s;
    -o-transition: background-color 3s, margin 3s, color 3s; 
    transition: background-color 3s, margin 3s, color 3s;
}

.box.transition {

    background-color: aquamarine;
    margin-left: 80%;
    color: black;
    text-align: center;
}

.box2 {
    margin: 30px;
    height: 25px;
    width: 50px;
    background-color: darkred;
    transition: width 3s linear 1s, margin 4s ease-in, height 2s ease-out 3s, background 5s;   
}

.box2.transition {
    width: 200px;
    margin-left: 60%;
    height: 50px;
    background-color: green;
}

#box3 {
    margin: 30px;
    height: 50px;
    width: 100px;
    position: relative;
    background-color: rebeccapurple;
}

@keyframes animation1 {
    0%   {background-color:rebeccapurple; left:0px; top:0px;}
    25%  {background-color:yellow; left:450px; top:0px;}
    50%  {background-color:blue; left:450px; top:200px; -webkit-transform: rotate(360deg);}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

#cupgame {
    margin: 0 auto;
    width 80%;
}

.cup {
    position: relative;
    display: inline-block;
    left: 0;
    right: 0;
    margin-right: 50px;
}

@keyframes cup1 {
    0%   {-webkit-transform: translate(48px, 48px) rotate(0deg) translate(-48px, -48px) rotate(0deg);}
    25%  {-webkit-transform:translate(48px, 48px) rotate(45deg) translate(-48px, -48px) rotate(-45deg);}
    50%  {-webkit-transform:translate(48px, 48px) rotate(90deg) translate(-48px, -48px) rotate(-90deg);}
    75%  {-webkit-transform:translate(48px, 48px) rotate(45deg) translate(-48px, -48px) rotate(-45deg);}
    100%  {-webkit-transform:translate(48px, 48px) rotate(0deg) translate(-48px, -48px) rotate(0deg);}
}

@keyframes cup2 {
    0%   {-webkit-transform: translate(-48px, -48px) rotate(0deg) translate(48px, 48px) rotate(0deg);}
    13%  {-webkit-transform:translate(-48px, -48px) rotate(45deg) translate(48px, 48px) rotate(-45deg);}
    25%  {-webkit-transform:translate(-48px, -48px) rotate(90deg) translate(48px, 48px) rotate(-90deg);}
    38%  {-webkit-transform:translate(-48px, -48px) rotate(45deg) translate(48px, 48px) rotate(-45deg);}
    50%  {-webkit-transform:translate(-48px, -48px) rotate(0deg) translate(48px, 48px) rotate(0deg);}
    63%  {-webkit-transform:translate(48px, 48px) rotate(45deg) translate(-48px, -48px) rotate(-45deg);}
    75%  {-webkit-transform:translate(48px, 48px) rotate(90deg) translate(-48px, -48px) rotate(-90deg);}
    88%  {-webkit-transform:translate(48px, 48px) rotate(45deg) translate(-48px, -48px) rotate(-45deg);}
    100%  {-webkit-transform:translate(48px, 48px) rotate(0deg) translate(-48px, -48px) rotate(0deg);}
}

@keyframes cup3 {
    0%   {-webkit-transform: translate(-48px, -48px) rotate(0deg) translate(48px, 48px) rotate(0deg);}
    25%  {-webkit-transform:translate(-48px, -48px) rotate(45deg) translate(48px, 48px) rotate(-45deg);}
    50%  {-webkit-transform:translate(-48px, -48px) rotate(90deg) translate(48px, 48px) rotate(-90deg);}
    75%  {-webkit-transform:translate(-48px, -48px) rotate(45deg) translate(48px, 48px) rotate(-45deg);}
    100%  {-webkit-transform:translate(-48px, -48px) rotate(0deg) translate(48px, 48px) rotate(0deg);}
}

/****************************************************
End for Topic 8
****************************************************/

.touchbox {
    background-color: rebeccapurple;
    text-align: center;
    -webkit-transition: background-color 3s, width 3s;
    -moz-transition: background-color 3s, width 3s;
    -o-transition: background-color 3s, width 3s; 
    transition: background-color 3s, width 3s;
}

.touchbox.transition {
    background-color: aquamarine;
    width: 80%;
}

.pressed {
    border: 1px solid black;
    background: #e60000;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    box-shadow: 0 8px 0 #800000;
    color: #fff;
    margin: 0;
    outline: 0;
    padding: 12px 20px;
    transition: all .1s linear;
}

.pressed:active {
    box-shadow: 0 2px 0 #800000;
    transform: translateY(6px);
}

.pressed:hover {
    background-color: #e60000;
    color: #fff;
}

#pictrans {
    position:relative;
    height:220px;
    width:400px;
    margin:0px auto;
}

#pictrans img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#pictrans img.above:hover {
    opacity:0;
}

#gallery {
    position:relative;
    height:220px;
    width:400px;
    margin:0px auto;
}

#gallery img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.opaque {
    opacity:0;
}

#gallerywrapper {
    display: flex;
    justify-content: center;
    padding: 5px;
}

#lbutton {
    background-color: whitesmoke;
}

#rbutton {
    background-color: whitesmoke;
}

#rocket {
    margin-top: 65%;
    animation: rocketlaunch 8s linear 2s infinite;
}

#smokeleft {
    position: absolute;
    left: 47%;
    bottom: 7px;
    width: 30px;
    opacity: 0;
    animation: launchsmoke1 8s ease-out 2s infinite;
}

#smokeright {
    position: absolute;
    left: 51%;
    bottom: 7px;
    width: 30px;
    opacity: 0;
    animation: launchsmoke2 8s ease-out 2s infinite;
}

@keyframes rocketlaunch {
    0%  {-webkit-transform: translate(0px, 0px); }
    13%  {-webkit-transform:translate(0px, -300px);}
    22%  {-webkit-transform:translate(50px, -350px) rotate(45deg);}
    31%  {-webkit-transform:translate(100px, -400px) rotate(90deg);}
    40%  {-webkit-transform:translate(150px, -350px) rotate(135deg);}
    49%  {-webkit-transform:translate(200px, -300px) rotate(180deg);}
    58%  {-webkit-transform:translate(150px, -250px) rotate(225deg);}
    67%  {-webkit-transform:translate(100px, -200px) rotate(270eg);}
    76%  {-webkit-transform:translate(50px, -250px) rotate(315deg);}
    85%  {-webkit-transform:translate(0px, -300px) rotate(360deg);}
    95%  {-webkit-transform:translate(0px, 0px) rotate(360deg);}
    100%  {-webkit-transform:translate(0px, 0px) rotate(360deg);}
}

@keyframes launchsmoke1 {
    0%  {-webkit-transform: translate(0px, 0px) scale(1,1); opacity: 0;}
    20% {-webkit-transform: translate(-20px, -10px) scale(2,2); opacity: 1;}
    90% {-webkit-transform: translate(-40px, -15px) scale(3,3); opacity: 0}
    100% {-webkit-transform: translate(-45px, -15px) scale(3,3); opacity: 0}
}

@keyframes launchsmoke2 {
    0%  {-webkit-transform: translate(0px, 0px) scale(1,1); opacity: 0;}
    20% {-webkit-transform: translate(20px, -10px) scale(2,2); opacity: 1;}
    90% {-webkit-transform: translate(40px, -15px) scale(3,3); opacity: 0}
    100% {-webkit-transform: translate(45px, -15px) scale(3,3); opacity: 0}
}

.tictactoe {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-family: 'Lato', sans-serif;
}

.tictactoe td {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    font-size: 4em;
    text-align: center;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    transition-duration: .5s;
}

.tictactoe td:hover {
    border: 2px solid gray;
    height: 100px;
    width: 100px;
    font-size: 4em;
    text-align: center;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition-duration: .5s; 
}

.mark-transform-o {
    color: blue;
    animation: tic-tac-toe 1.5s ease-in-out 0s 1;
}
.mark-transform-x {
    color: green;
    animation: tic-tac-toe 1.5s ease-in-out 0s 1;
}

@keyframes tic-tac-toe {
    0%  {-webkit-transform: scale(0.1);}
    50%  {-webkit-transform: rotate(360deg) scale(1.6);}
    100%  {-webkit-transform: rotate(0deg) scale(1.0);}
}

.zoom {
    display: inline-block;
    position: relative;
    margin: 20px;    
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    transition-duration: .5s;
}

.zoom:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    transition-duration: .5s;  
}

.wiggle {
    display: inline-block;
    position: relative;
    margin: 20px;
}

.wiggle:hover {
    animation: wiggles 1s ease;  
}

@keyframes wiggles {
    15% {-webkit-transform: translateX(5px); transform: translateX(5px);}
    30% {-webkit-transform: translateX(-5px); transform: translateX(-5px);}
    50% {-webkit-transform: translateX(3px); transform: translateX(3px);}
    65% {-webkit-transform: translateX(-3px); transform: translateX(-3px);}
    80% {-webkit-transform: translateX(2px); transform: translateX(2px);}
    100%{-webkit-transform: translateX(0); transform: translateX(0);}
}

.skew {
    display: inline-block;
    position: relative;
    margin: 20px;    
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
    transition-duration: .5s;
}

.skew:hover {
    -webkit-transform: scale(1.3) skewX(10deg);
    -ms-transform: scale(1.3) skewX(10deg);
    transform: scale(1.3) skew(10deg, -10deg);
    transition-duration: .5s;  
}


.tranbox {
    font-size:12px;
    position:relative;
    width:60px;
    height:60px;
    border-radius: 30px;
    margin-bottom:10px;
    background-color:blue;
}

.codeexsize {
    height: 400px;
}

.mytable {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
}

.mytable td, .mytable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.mytable tr:nth-child(even){background-color: #f2f2f2;}

.mytable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: slategray;
    color: white;
}

.captioninput {
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 50px;
}

.displaycap {
    text-align: center;
    font-size: 24px;
    
}

.message {
    text-align: center;
    color: red;
    font-size: 1.5em;
}

.navbar {
    background-color: slategray;
    overflow: hidden;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover, .dropdown:hover .dropbtn{
    background-color: #ddd;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.ex1 {
    
}

.cube {
    font-size: 4em;
    width: 2em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateY(30deg);
    animation: spin 5s infinite linear;
}

@keyframes spin {
	from { transform: rotate3d(0, 0, 0, 0); }
	to { transform: rotate3d(.2, 1, 0, 360deg); }
}

.side {
    position: absolute;
    width: 2em;
    height: 2em;
    background: rgba(255,255,255,.8);
    border: 1px solid black;
    text-align: center;
    line-height: 2em;
}

.side img {
    width: 1.75em;
}

.front {transform: translateZ(1em);}
.top {transform: rotateX(90deg) translateZ(1em);}
.right {transform: rotateY(90deg) translateZ(1em);}
.left {transform: rotateY(-90deg) translateZ(1em);}
.bottom {transform: rotateX(-90deg) translateZ(1em);}
.back {transform: rotateY(-180deg) translateZ(1em);}