@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Shadows+Into+Light');

/*Reset styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*begin our styles*/
 
body {
    font: 16px/1.4em 'PT Sans', sans-serif;;
    color: #1c1c1c;
}
 
p,
ul {
    margin: 0.5em 0 1.5em;
}
 
ul {
    list-style: disc;
    padding: 0 0 0 20px;
}

ol {
    list-style: decimal;
}
  
h1 {
 
}
 
h2 {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
}
 
/*layout*/
 
.wrapper {
}
  
/*header*/
 
header {
    background: #193366;
    padding: 15px 18px;
}
 
/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
header:before, header:after {
    content:"";
    display:table;
}
         
header:after {
    clear:both;
}

         
/* For IE 6/7 (trigger hasLayout) */
header {
    zoom:1;
}
 
h1.logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: right;
    letter-spacing: 0.2em;
}

.subhead {
    background: #b6b9c8;
    color: #fff;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 0.1em;
    
}
 
a.to_nav {
    float: left;
    color: #fff;
    background: #193366;
    text-decoration: none;
    padding: 0 10px;
    font-size: 1.25em;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
 
a.to_nav:hover,
a.to_nav:focus {

}

.welcome {
    display: block;
    padding: 14px 16px;
    color: #f2f2f2;
    font-size: .8em !important;
    background-color: #585c74;
}

/*navigation*/ 
 
#primary_nav ul {
    list-style: none;
    background: #193366;
    padding: 5px 0;
    margin: 0;
}
 
#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #0a1429;
}
 
#primary_nav li:last-child a {
    border-bottom: none;
}
 
#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #1c1c1c;
    background: #ccc;
}
 
/*footer*/
footer {
    font-family: 'PT Serif', serif;
    font-style: italic;
    text-align: center;
    font-size: 14px;
    padding-top: 2.5em;
    padding-bottom: 10px;
    color: #000;
    
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0.8421743697478992) 39%, rgba(255,255,255,0) 100%);
}

footer p {
    margin: 0;
}

.sticky-bottom {
    position: fixed;
   bottom: 0px;
    width: 100%;
}

#home {
    opacity: .8;
}

#home-instruct {
    font-size: 1.5em;
    text-align: center;
    word-spacing: 5px;
    margin-bottom: 0;
    line-height: 1.2em;
    color: #000;
}

.schedule-instruct a {
    text-decoration: underline;
    font-weight: bold;
    color: #000;
}

/* Style inputs, select elements and textareas*/ 
input[type=text] {
    border: 1px solid transparent;
    border-bottom: 1px solid #193366;
    background-color: #fff;
    padding: 10px;
    font-size: .8em;
    width: 200px;
    outline: none;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=button] {
  background-color: #2851a4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float:none;
    font: inherit;
}

#location-error, #create-error, #retrieve-error {
    color: red;
    font-size: .8em;
    text-align: center;
}

#search, #create-schedule, #save-schedule, #getSchedule {
    background-color: #2851a4;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:none;
    font: inherit;
    -webkit-box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
}

#results tr {
    border: solid 1px black;
    padding: 3px;
    text-align: center;
}


#results th {
    color: #fff;
    background: #193366;
    text-align: center;
}

#search-container, #results-container {
    padding-top: 20px;
    padding-bottom: 20px;

}

#results-wrapper {
    padding-bottom: 20px;
}

/* Style the container */
.container {
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s ease-out;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 1em;
}

/* Floating column for full width: 100% width */
.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.txt-center {
    text-align: center;
}

.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 70%; 
    height: 20px; 
    background: #f2f2f2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    -webkit-box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #b6b9c8;
    cursor: pointer; /* Cursor on hover */
    border-radius: 10px;
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #b6b9c8;
    cursor: pointer; /* Cursor on hover */
}

#range {
    position: relative;
    bottom: .25em;
}

* { box-sizing: border-box; }

.addcategory {
    background-color: #2851a4;
    color: white;
    padding: .4em .75em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:none;
    font: inherit;
}

.price-select {
    border: 1px solid black;
    height: 3em;
}

.segmented-control {
    display: table;
    width: 100%;
    margin: 0em 0;
    padding: 0;
    -webkit-box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
}

.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.segmented-control__input {
    position: absolute;
    visibility: hidden;

}

.segmented-control__label {
    display: block;
    margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
    padding: 1em .25em;
    border: 1px solid #ddd;
    font: inherit; 
    text-align: center;  
    cursor: pointer;
}

.segmented-control__label:hover {
    background: #fafafa;
}

.segmented-control__input:checked + .segmented-control__label {
    background: #b6b9c8;
    color: #fff;
    -webkit-transition: background-color .75s ease-in, color .25s ease-in;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s; 
    transition: background-color .75s ease-in, color .25s ease-in;
}

.terms {
    border-radius: 3px;
    width: 100%;
    float: left;
    margin: 3px;
    padding: 4px;
    font-size: .8em;
    vertical-align: middle;
}

.terms a {
    color: #fff;
    background: #b6b9c8;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    animation: slide-up 0.4s ease;
    
}

.terms span {
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.animate-term {
    animation: slide-up 0.4s ease;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

.plus {
    color: #b6b9c8;
}

.restData {
    background-color: #fff;
    transition: 1s;
}

.sched-table-style td {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.td-day {
    vertical-align: middle;
    font-family: 'Permanent Marker', cursive;
    transform: rotate(-20deg);
    font-size: 1.2em;
    height: 100px;
}

.td-rest {
    font-family: 'Permanent Marker', cursive;
}

.hide-schedule {
    height: 0px;
    opacity: 0;
}

.show-schedule {
    height: 500px;
    opacity: 1;
}


.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    top: -2px;
}

.firebaseui-textfield.mdl-textfield .firebaseui-input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.firebaseui-input {
    font-size: .8em;
}

.drop {
    background: #6e7491;
    height: 0px;
    opacity: 0;
    -webkit-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.droppeddown {
    height: 200px;
    opacity: 1;
    -webkit-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.droppeddown a {
    display: block !important; 
}

.drop a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1em;
}

.drop.responsive {position: relative;}
.drop.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}

.drop.responsive a {
    float: none;
    display: none;
    text-align: left;
}

.grad-background {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.8421743697478992) 77%, rgba(255,255,255,0) 100%);
    
    font-size: 1.2em;
    padding-bottom: 3em;
}

.grad-background a {
    font-size: 1em;
    text-decoration:underline;
    font-weight: bold;
    color: #000;
}


@media only screen and (min-width: 768px) {
    a.to_nav {
        float: right;
    }
    
    .logo {
        float: left;
    }
    
    .wrapper {
        position: relative;
        width: 768px;
        margin: auto;
    }
     
    #primary_nav {
        position: absolute;
        top: 5px;
        right: 10px;
        background: none;
        display: none;
    }
     
    #primary_nav li {
        display: inline;
    }
     
    #primary_nav li a {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    
    #primary_nav li.top {
    display: none;
    }
    
    .col-25, .col-75 {
    width: 100%;
    margin-top: 0;
    }
    
    #drop-menu {
        float: right;
    }
}