/*Reset styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*begin our styles*/
 
body {
    font: 16px/1.4em 'PT Sans', sans-serif;;
    color: #1c1c1c;
}
 
p,
ul {
    margin: 0 0 1.5em;
}
 
ul {
    list-style: disc;
    padding: 0 0 0 20px;
}
  
h1 {
 
}
 
h2 {
    font-family: 'PT Serif', serif;
    font-size: 32px;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
}
 
/*layout*/
 
.wrapper {
}
  
/*header*/
 
header {
    background: #193366;
    padding: 15px 20px;
}
 
/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
header:before, header:after {
    content:"";
    display:table;
}
         
header:after {
    clear:both;
}
         
/* For IE 6/7 (trigger hasLayout) */
header {
    zoom:1;
}
 
h1.logo a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    float: right;
    letter-spacing: 0.2em;
}

.subhead {
    background: #b6b9c8;
    color: #fff;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 0.1em;
    
}
 
a.to_nav {
    float: left;
    color: #fff;
    background: #2851a4;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
 
a.to_nav:hover,
a.to_nav:focus {
    color: #1c1c1c;
    background: #ccc;
}

/*navigation*/ 
 
#primary_nav ul {
    list-style: none;
    background: #193366;
    padding: 5px 0;
}
 
#primary_nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2em;
    height: 2em;
    border-bottom: 1px solid #0a1429;
}
 
#primary_nav li:last-child a {
    border-bottom: none;
}
 
#primary_nav li a:hover,
#primary_nav li a:focus {
    color: #1c1c1c;
    background: #ccc;
}
 
/*footer*/
footer {
    font-family: 'PT Serif', serif;
    font-style: italic;
    text-align: center;
    font-size: 14px;
}

/* Style inputs, select elements and textareas*/ 
input[type=text] {
    border: 1px solid transparent;
    border-bottom: 1px solid #193366;
    background-color: #fff;
    
    font-size: .8em;
    
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=button] {
  background-color: #2851a4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float:none;
    font: inherit;
}

#location-error {
    color: red;
    font-size: .8em;
}

#search {
  background-color: #2851a4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float:none;
    font: inherit;
    -webkit-box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
          box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
}

#results tr {
    border: solid 1px black;
    padding: 3px;
    text-align: center;
}


#results th {
    color: #fff;
    background: #193366;
    text-align: center;
}

#search-container, #results-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Style the container */
.container {
    border-radius: 5px;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 1em;
}

/* Floating column for inputs: 75% width */
.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    padding: 5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.txt-center {
    text-align: center;
}
.hide {
    display: none;
}

.clear {
    float: none;
    clear: both;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 70%; /* Full-width */
    height: 20px; /* Specified height */
    background: #f2f2f2; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    -webkit-box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
          box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #b6b9c8;
    cursor: pointer; /* Cursor on hover */
    border-radius: 10px;
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #b6b9c8;
    cursor: pointer; /* Cursor on hover */
}

#range {
    position: relative;
    bottom: .25em;
}

* { box-sizing: border-box; }

.addcategory {
    background-color: #2851a4;
    color: white;
    padding: .4em .75em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:none;
    font: inherit;
}

.price-select {
    border: 1px solid black;
    height: 3em;
}

.segmented-control {
    display: table;
    width: 100%;
    margin: 0em 0;
    padding: 0;
    -webkit-box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
}

.segmented-control__item {
    display: table-cell;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.segmented-control__input {
    position: absolute;
    visibility: hidden;

}

.segmented-control__label {
    display: block;
    margin: 0 -1px -1px 0; /* -1px margin removes double-thickness borders between items */
    padding: 1em .25em;
    border: 1px solid #ddd;
    font: inherit; 
    text-align: center;  
    cursor: pointer;
}

.segmented-control__label:hover {
    background: #fafafa;
}

.segmented-control__input:checked + .segmented-control__label {
    background: #b6b9c8;
    color: #fff;
    -webkit-transition: background-color .75s ease-in, color .25s ease-in;
    -moz-transition: background-color 1s;
    -o-transition: background-color 1s; 
    transition: background-color .75s ease-in, color .25s ease-in;
}

.terms {
    border-radius: 3px;
    width: 100%;
    float: left;
    margin: 3px;
    padding: 4px;
    font-size: .8em;
    vertical-align: middle;
}

.terms a {
    color: #fff;
    background: #b6b9c8;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;
    text-decoration: none;
    -webkit-box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    box-shadow: 0px 1px 4px #c6c6c6, 0px 2px 17px #d1d1d1;
    
}

.terms span {
    padding-right: 10px;
    padding-left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.plus {
    color: #b6b9c8;
}

.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.is-focused .mdl-textfield__label {
    top: -.25em;
}

.firebaseui-textfield.mdl-textfield .firebaseui-input {
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.firebaseui-input {
    font-size: .8em;
}

.firebaseui-card-header {
    background: #b6b9c8;
    color: #fff;
    font-family: inherit;
    font-size: 1em;
    letter-spacing: 0.1em; 
}

.firebaseui-title {
    color: #fff;
}

.mdl-textfield__label {
    top: .7em;
}

@media only screen and (min-width: 768px) {
    a.to_nav {
        display: none;
    }
    
    .logo {
        float: left;
    }
    
    .wrapper {
        position: relative;
        width: 768px;
        margin: auto;
    }
     
    #primary_nav {
        position: absolute;
        top: 5px;
        right: 10px;
        background: none;
    }
     
    #primary_nav li {
        display: inline;
    }
     
    #primary_nav li a {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }
    
    #primary_nav li.top {
    display: none;
    }
    
    .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
    }
}